@font-face {
    font-family: 'VarelaRound-Regular';
    src: url('../assets/fonts/VarelaRound-Regular.ttf');
}

@font-face {
    font-family: 'FiraMono-Regular';
    src: url('../assets/fonts/FiraMono-Regular.ttf');
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    overflow: auto;
}

/* The Modal */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding: 10px 15px 10px 15px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.modal-close {
    color: black;
    float: right;
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
}

.modal-close:hover,
.modal-close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
/* End Modal */

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #1fa01f;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
  }

/* The tootltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #1fa01f transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Main body */
.parallax {
    /* The image used */
    /* background-image: url("book-background0.jpg"); */
    background-color: rgb(42, 128, 139);

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#root {
    display: flex;
    flex-shrink: 4;
    height: 100vh;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

#main {
    display: flex;
    flex-shrink: 3;
    height: 90vh;
    width: 100vw;
}

/* End main body */

/* Auxilliary button */
#auxbtn {
    position: fixed;
    top: 0;
    right: 0;
    color: red;
    display: none;
    transition: all 0.3s;
    font-size: large;
    background: rgba(102, 102, 102, 0);
    /* border: 1px solid red; */
    height: 50px;
    width: 50px;
}

#auxbtn:hover, #auxbtn:focus {
    background: white;
    border: none;
    color: black;
}

/* Topnav */
.topnav {
    background-color: white;
    width: 100%;
    height: 10%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-content: center;
    vertical-align: middle;
    transition: all 0.3s;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-content: center;
    background: #4286f4;
    height: 20px;
    padding-top: 12px;
    padding-bottom: 15px;
    margin: auto 8px auto 8px;
    font-family: sans-serif;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#settings-btn,
#submit-btn,
.download-btn,
#write-btn,
#read-btn,
#balance-btn {
    padding: 12px 15px;
    cursor: pointer;
}

#submit-btn {
    background: #1fa01f;
    padding: 12px 15px 12px 15px;
}

#preview-btn {
    background: rgb(201, 20, 20);
}

#settings-btn {
    background: rgb(15, 15, 15);
    padding: 12px 15px 12px 15px;
    font-size: 18px;
}

#write-btn,
#read-btn,
#balance-btn {
    background-color: #4286f4;
}

#logo {
    margin-left: auto;
    background: rgba(102, 102, 102, 0);
}

#logo-img {
    transform: translate(0, -12px);
}

#upbtn {
    background: rgb(201, 20, 20);
}

#write-btn:hover,
#read-btn:hover,
#balance-btn:hover,
#settings-btn:hover,
#preview-btn:hover,
#submit-btn:hover,
#upbtn:hover {
    background: white;
    cursor: pointer;
}

.settings-modal {
    font-family: monospace;
}

.setting {
    font-family: monospace;
    margin: 2px;
    padding: 15px;
}

/* Topnav end */

/* Main div  (editor-div + output-div) */
.main-div {
    background: rgba(102, 102, 102, 0);
    color: white;
    transition: all 0.3s;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: monospace;
    text-align: justify;
    resize: horizontal;
    box-sizing: border-box;
}

#editor-div {
    overflow: hidden;
    left: 0;
}

#output-div {
    right: 0;
}

.right-align-top {
    margin-left: auto;
    margin-right: 8px;
}

.content-opts {
    padding-left: 15px;
    padding-right: 15px;
}

button {
    outline: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background: #74637f;
    color: #eee;
}

.editor {
    font-family: FiraMono-Regular;
    height: 100%;
    width: 100%;
    background: white;
    color: rgb(40, 40, 40);
    margin: 0px;
    border-radius: 0;
    resize: none;
    overflow: auto;
    font-size: 16px;
    padding: 25px;
    box-sizing: border-box;
    outline: none;
}

/*#alert-area {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 20px;
    background-color: rgb(42, 128, 139);
    font-size: large;
    text-align: center;
    color: #fff;
    padding: 10px;
}*/

#alerts-area {
    display: none;
}

/* Style the tab */
.tab {
    overflow-x: auto;
    /* border: 1px solid #ccc; */
    background-color: #f1f1f1;
    height: 8%;
    /*position: fixed;*/
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-size: 16px;
    width: 100px;
    color: black;
    height: 100%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    /* background-color: rgb(201, 20, 20); */
    color: black;
    box-sizing: border-box;
    /* border-top: 3px solid rgb(201, 20, 20); */
    border-bottom: 3px solid rgb(201, 20, 20);
}

/* Style the tab content */
.tabcontent1,
.tabcontent2 {
    display: none;
    padding: 6px 12px;
    border-top: none;
    min-height: 88%;
}

.tabcontent1 {
    padding: 0;
    height: 92%;
}

.tabcontent2 {
    height: 100%;
}

.main-div a {
    color: white;
    text-decoration: none;
    padding: 2px;
    margin: 3px 0 3px 0;
    font-weight: bolder;
}

.main-div a:hover {
    background: white;
    color: black;
}

/* Resizer */
#resizer {
    width: 100%;
    height: 100%;
    border-right: 3px solid #4286f4;
    box-sizing: border-box;
}

/* Output area */
#if_r-output-area {
    display: none;
}

/* General formatting */
.code,
code {
    padding: 5px;
    background: lightgrey;
    color: black;
    font-family: monospace;
    line-height: 1.9;
    margin: 10px auto;
}

.highlighted {
    background: lightgrey;
    padding: 10px;
    margin: 10px auto;
    color: blue;
}

.plain-text {
    font-family: sans-serif;
    font-size: small;
}

.main-div h3 {
    font-family: sans-serif;
}

/* Tools */
.tool-btn {
    display: block;
    width: 80%;
    margin: 3px auto;
    padding: 10px;
    border: none;
    color: black;
    background-color: white;
    font: 18px 'Opens Sans', sans-serif;
    letter-spacing: 1px;
    appearance: none;
    cursor: pointer;
    margin-bottom: 15px;
}

@media (max-width: 850px) {
    #root {
        flex-wrap: wrap;
    }

    .main-div {
        width: 100vw;
        height: 90vh
    }
}